html{
  font-size: 18px;
  font-family: Helvetica;
}

/*HEADER SECTION*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  max-width: 960px;
  margin: 0 auto;
}

.header img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.header span{
  margin: 1rem 2rem 1rem 0;
}

/*BANNER SECTION*/
.banner-container{
  height: 31rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.banner{
  color: black;
  background-color: white;
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
  margin-top:10rem;
  padding: 1.5rem 5rem;
}

/*SERVICES SECTION*/
.services{
  display: flex;
  padding: 3rem 0;
  max-width: 960px;
  margin: 0 auto;
}

.image-block{
  display: flex;
  flex-direction: column;
  height: 8rem;
  text-align: center;
  margin-right: 6rem;
}

/*INFORMATION SECTION*/
.information{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.philosophy h2, .appointments h2{
  font-weight: bold;
  background-color: cadetblue;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.philosophy, .appointments{
  width: 35%;
}
